
.deviceList-wrapper .control-label{
  display: inline-block;
  padding-top: 0;
  font-size: 12px;
}
.getdekit-page-wrapper .dekit-content .form-field{
  display: inline-block;
  width: 62%;
}
.dekit-content .section-one .control-label,.dekit-content .section-two .control-label{
  width: 35%;
  vertical-align: top;
}

::ng-deep .getdekit-page-wrapper .dekit-content .section-one .mat-form-field{
padding: 6px 2px !important;
max-width: 295px !important;
}

.getdekit-page-wrapper .grs-unit-type-container{
  padding: 0 15px !important;
}

.trackingIdInputContainer .control-label{
vertical-align: top;
margin-right: 15px;  
}
.trackingIdInputContainer .form-field-wrapper{
display: inline-block;
}
::ng-deep .trackingIDContainer .form-group .control-label{
display: none !important;
}
::ng-deep .dekit-content .trackingIDContainer .mat-form-field{
width: 100%;
max-width: 270px;
}

// ::ng-deep #mat-chip-list-0 > div {
//   margin: 0px;
// }

.trackingIDContainer {
  display: flex;
  flex-direction: row; 
}
.trackingIDContainer .dekitInputpadding{
width: 330px;
}
.buttonClass {
  padding-left: 12px;
}

.customErrorContainer {
  color: red;
  padding-top: 15px;
}

.grsUnitContainer {
  /*display: flex; 
  flex-direction: row;*/
}

.grsAttributesFlexContainer {
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  justify-content: space-around; 
  border-top: 1px solid #dddddd; 
  border-left: 1px solid #dddddd; 
  border-right: 1px solid #dddddd; 
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
}

.grsItemContainer {
  display: flex; 
  flex-direction: row; 
  border-top: 1px solid #dddddd; 
  justify-content: center;
}

.lineLicenceContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5px 5% !important;
  padding-bottom: 10px !important;
  
}

.licenceLabel {
  margin-top: 1%;
  padding: 5px;
}

.dynamicLicence {
  display: flex;
  justify-content: center;
}

.dynamicLicenceMarginAlign {
  border: 1px solid #dddddd;
  padding-bottom: 5%;
}

.remappingButton {
  display: flex;
  justify-content: center;
}

.headerLicenceContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1%;
  border: 1px solid #dddddd; 
  padding: 5px 2%;
  padding-bottom: 10px; 
  border-bottom-left-radius: 10px; 
  border-bottom-right-radius: 10px;
  justify-content: center;
}
.deviceFieldContainer .control-label{
padding-top: 0 !important;
}
.getdekit-page-wrapper .form-group{
margin-bottom: 10px !important;
}
.licenceField {
  width: 50%;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
  stroke: white;
}

.grs-unit-type-input-field{
  width: 150px;
}

.grsUnitAlignMentBorderBottom {
  border-bottom: 1px solid #dddddd;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grs-unit-type-container{
  padding-top: 8px;
  padding-bottom: 15px;
 border: 1px solid #dddddd;
 border-radius: 5px;
 margin: 10px;
}

.grs-unit-type-container label.control-label {
  font-size: 14px;
  padding-top: 12px;
}

.grs-unit-type-container {
  text-align: center;
}

.grs-unit-type-container.grs-getdekit-hqid-wrapper{
  margin-bottom: 15px;
}

.dekit-content .grs-getdekit-hqid-wrapper .grs-unit-type-container .mat-form-field{
  max-width: 160px;
}

.grs-getdekit-hqid-wrapper label.col-sm-2{
  visibility: hidden;
}

.grs-test-form-fields label{
  vertical-align: top;
}

::ng-deep .getdekit-page-wrapper .form-field .form-group .control-label.col-sm-2{
  display: none !important;
}
::ng-deep .getdekit-page-wrapper .grs-unit-type-container .grs-test-form-fields .form-group .control-label.col-sm-2{
  display: none;
}

::ng-deep .getdekit-page-wrapper .grs-unit-type-container .grs-test-form-fields{
  width: 100%;
}
::ng-deep .getdekit-page-wrapper .form-field .form-group .col-sm-10 {
  width: 100% !important;
  flex: auto;
  max-width: 300px;
  padding-right: 0;
}
::ng-deep .getdekit-page-wrapper .grs-unit-type-container .grs-test-form-fields .customMatInput{
  display: inline-block;
}
.getdekit-page-wrapper .dekit-content .grs-unit-type-container .mat-form-field{
  max-width: 100px;
}
::ng-deep .getdekit-page-wrapper .form-field .form-group{
  margin-bottom: 0 !important;
}
::ng-deep .getdekit-page-wrapper .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline{
  color: #dddddd !important; 
}
.grs-unit-type-container .deviceList-wrapper{
  margin-bottom: 0 !important;
}





