<div class="welcomeContainer">
  <div>
    <h1 class="welcomeh1"> Telstra E-Parcel Stock Receipt</h1>
  </div>
<!-- <div> -->

  <div fxLayout fxLayoutAlign="center center">
    <mat-form-field fxFlex="40%">
      <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder="Search...">
    </mat-form-field>
  </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 table-responsive">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Transaction Column -->
      <ng-container matColumnDef="transactionId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction ID </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionId}} </td>
      </ng-container>

      <!-- Consignment Column -->
      <ng-container matColumnDef="consignmentId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Consignment </th>
        <td mat-cell *matCellDef="let element"> {{element.consignmentId}} </td>
      </ng-container>

      <!-- Article ID Column -->
      <ng-container matColumnDef="articleId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Article ID </th>
        <td mat-cell *matCellDef="let element"> {{element.articleId}} </td>
      </ng-container>

      <!-- RLO Date Column -->
      <ng-container matColumnDef="RLODate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RLO Date </th>
        <td mat-cell *matCellDef="let element"> {{element.RLODate}} </td>
      </ng-container>

      <!-- Priority Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
      </ng-container>

      <!-- Inventory Bucket Column -->
      <ng-container matColumnDef="inventoryBucket">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Inventory Bucket </th>
        <td mat-cell *matCellDef="let element"> {{element.inventoryBucket}} </td>
      </ng-container>

      <!-- Line Number Column -->
      <ng-container matColumnDef="lineNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Line Number </th>
        <td mat-cell *matCellDef="let element"> {{element.lineNumber}} </td>
      </ng-container>

      <!-- Qty Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> QTY </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Telstra Item Column -->
      <ng-container matColumnDef="telstraItemId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Telstra Item </th>
        <td mat-cell *matCellDef="let element"> {{element.telstraItemId}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <!-- Created Column -->
      <ng-container matColumnDef="createdTime">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
        <td mat-cell *matCellDef="let element"> {{element.createdTime}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  <!-- </div> -->
    <mat-paginator style="margin-top: 10px;" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    <!-- Footer and Paging Column -->
    <!-- <ng-container matColumnDef="cost">
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </ng-container> -->

    <a class="login-btn context-menu" (click)="onSubmit()">
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 22 22">
        <path
          d="M10.536-18H-6.536a2.377,2.377,0,0,0-1.747.716A2.377,2.377,0,0,0-9-15.536v4.87h2.464v-4.87H10.536V1.536H-6.536v-4.87H-9v4.87a2.377,2.377,0,0,0,.716,1.747A2.377,2.377,0,0,0-6.536,4H10.536a2.378,2.378,0,0,0,1.747-.716A2.378,2.378,0,0,0,13,1.536V-15.536a2.377,2.377,0,0,0-.716-1.747A2.378,2.378,0,0,0,10.536-18ZM-.349-2.646,1.37-.87,7.5-7,1.37-13.13-.349-11.411,2.8-8.2H-9V-5.8H2.8Z"
          transform="translate(9 18)" />
      </svg>
      Submit
    </a>


</div>
