<div class="welcomeContainer">
    <div>
        <mat-card>
            <mat-card-header>
                <mat-card-title class="welcomeTitle">
                  <h2>Welcome GBP Portal</h2>
                </mat-card-title>
                <!-- <mat-card-subtitle class="welcomeSubTitle">
                  <small>Telstra GBP Portal</small>
                </mat-card-subtitle> -->
                <!-- <span><img src="../../assets/org/brightstar/logos/Brightstar_logo.svg" class="brightStarLogo" alt="Brightstar"></span> -->
            </mat-card-header>
           <mat-card-content>
            <mat-list>
                <!-- <mat-list-item class="welcomeList">
                    Please note: Our product return has changed for handset and accessory returns to the below address.<br>
                    Also note that repair requests still have the same return address.
                </mat-list-item>
                <mat-list-item>
                    <div class="welcomeAddressContainer">
                        <div class="welcomeList">Brightstar RLS</div>
                        <div class="welcomeList">2000 USG Drive</div>
                        <div class="welcomeList">Libertyville, IL 60048</div>
                    </div>
                </mat-list-item><br>
                <mat-list-item class="welcomeList">
                    To initiate Accessory/Handset Return for Credit transaction go to "Request RMA => Credit"
                </mat-list-item>-->
                    <mat-list-item class="welcomeList">
                      <a class="login-btn context-menu" (click)="onTelstraRoute()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 22 22">
                          <path
                            d="M10.536-18H-6.536a2.377,2.377,0,0,0-1.747.716A2.377,2.377,0,0,0-9-15.536v4.87h2.464v-4.87H10.536V1.536H-6.536v-4.87H-9v4.87a2.377,2.377,0,0,0,.716,1.747A2.377,2.377,0,0,0-6.536,4H10.536a2.378,2.378,0,0,0,1.747-.716A2.378,2.378,0,0,0,13,1.536V-15.536a2.377,2.377,0,0,0-.716-1.747A2.378,2.378,0,0,0,10.536-18ZM-.349-2.646,1.37-.87,7.5-7,1.37-13.13-.349-11.411,2.8-8.2H-9V-5.8H2.8Z"
                            transform="translate(9 18)" />
                        </svg>
                        Telstra E-Parcel
                      </a>
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-footer class="welcomeList">
            Copyright 2020 Brightstar Corp.
        </mat-card-footer>
        </mat-card>
    </div>
</div>
