
.welcomeContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 20%;
    flex-wrap:wrap;
    text-align:center;
    width: 100%;
    // margin:auto;
}

mat-card{
  width: 600px;
}



.welcomeAddressContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 3%;
}

.brightStarLogo{
    width: 100px;
}

.welcomeTitle{
    font-size: 15px;
}

.welcomeSubTitle{
    font-size: 12px;
}

.welcomeList{
    font-size: 13px;
    font-family: "Roboto";
}

mat-card-footer{
position: absolute;
right: 0;
margin: 0;
}

.svg_mask{
  background: #cf102d;
  height: calc(100vh - 79px);
  overflow: hidden;
}


.login-btn {
  // background-color: #2D2926;
  background-color: #2f2563;
	border-radius: 6px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-family: 'Univers 65';
	padding: 16px 26px;
    text-decoration: none;
    cursor: context-menu;
    width: 200px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    visibility: hidden;
}
.login-btn svg {
	position: relative;
	top: -2px;
	margin-right: 12px;
	fill: #ffffff;
}

@media only screen and ( max-width:768px ){
  .welcomeContainer{
    margin-top: 60%;
  }

  .login-btn{
    visibility: visible;
  }
}
