<div class="getdekit-page-wrapper page-wrapper">
    <div class="row page-title">
        <div class="col-sm-12 rmaHeader">
            <h4>Admin Config</h4>
        </div>
    </div><br>
<div class="row rmaCustomerHeaderContainer">
    
    <!-- <div class="col-sm-8">
        <label  class="control-label">WareHouse ID licenseNumber*</label>
        <mat-form-field class="mat-form-field-attributes">
            <mat-label>WareHouse ID</mat-label>
            <input (keydown.enter)="wareHouse($event)" ng-pattern="/^[ A-Za-z0-9_@./#&+-]*$/" style="width: 75%;"
                class="customMatInput" autocomplete="off" matInput
                type="text">
        </mat-form-field>
    </div>
    <div class="col-sm-8">
        <label  class="control-label">RMA HQID Not Captured</label>
        <mat-form-field class="mat-form-field-attributes">
            <mat-label>RMA HQID Not Captured</mat-label>
            <input (keydown.enter)="wareHouse($event)" ng-pattern="/^[ A-Za-z0-9_@./#&+-]*$/" style="width: 75%;"
                class="customMatInput" autocomplete="off" matInput
                type="text">
        </mat-form-field>
    </div> -->
</div>
</div>