.custominputContainer{
    display: grid;
    flex-direction: row;
}

.customMat{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.customFormArrayName{
    display: flex;
    flex-direction: row;
}