<div class="text-center"><img src="../../../../../assets/org/brightstar/logos/logout-img.svg" /></div>
<h1 mat-dialog-title class="logout-title">Do you want to logout?</h1>
<div mat-dialog-content class="logout-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</div>
<div mat-dialog-actions class="logout-btn">
  <button mat-raised-button mat-dialog-close class="hideGreyOut">Close</button>
  <button mat-raised-button color="primary" (click)="signout()">Sure Continue!</button>
</div>