<mat-nav-list>
    <a mat-list-item routerLinkActive="active" routerLink="/dashboard/dashboardTable"><span class="material-icons">
            account_balance_wallet
        </span>Admin</a>
    <a mat-list-item routerLinkActive="active" routerLink="/dashboard/dekit"><span class="material-icons">
        analytics
        </span>Dekit</a>
    <a mat-list-item routerLinkActive="active" routerLink="/dashboard/getdekit"><span class="material-icons">
        line_style
        </span>Get Dekit</a>
    <a mat-list-item routerLinkActive="active" routerLink="/dashboard/getrma"><span class="material-icons">
        perm_media
        </span>Get RMA</a>
    <a mat-list-item routerLinkActive="active" routerLink="/dashboard/receiverma"><span class="material-icons">
        quickreply
        </span>Receive RMA</a>
</mat-nav-list>
