.mat-list-base .mat-list-item {
    height: 35px;
    color: #666666;
}
.mat-nav-list .mat-list-item {
    border-left: 5px solid #ffffff;
}
.mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:active, .mat-nav-list .mat-list-item.active {
    border-left: 5px solid #cf102d ;
    background: rgba(0,0,0,.04);
}
.mat-nav-list .mat-list-item.active {
    color: #cf102d ;
}
.material-icons{
    margin-right: 17px;
}